.Rproj.user
.Rhistory
.RData
.Ruserdata

/doreco_toto1304_extended_v2.0/
/doreco_toto1304_core_v2.0/
/doreco_teop1238_audiofiles_v2.0/
/doreco_teop1238_core_v2.0/
/doreco_teop1238_extended_v2.0/

CLAUDE.md
.claude